<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="utf-8">
		<title>注册页面</title>
		<link rel="stylesheet" th:href="@{/site/css/register.css}"/>
		<script th:src="@{/site/js/register.js}"></script>
	</head>
	<body>
		<!-- 大盒子CentreBox -->
		<div id="CentreBox">
			<!-- 头部logo -->
			<div id="CentreBox_one">
				<span><p>服务器用户注册</p></span>
			</div>
			<!-- 注册细节（账号、密码、注册按钮等） -->
			<div id="CentreBox_two">
				<form th:action="@{/registerUser}" th:method="post">
					<table>
						<tr>
							<td><input name="username" placeholder="用户名" type="text"/></td>
						</tr>
						<tr>
							<td><input name="password" placeholder="密码" type="password"/></td>
						</tr>
						<tr>
							<td><input name="rwpassword" placeholder="重输密码" type="password"/></td>
						</tr>
						<tr>
							<td><input name="email" placeholder="邮箱" type="email"/></td>
						</tr>
						<tr>
							<td><input name="phoneNumber" placeholder="电话号码" type="text"/></td>
						</tr>
						<tr>
							<td><input id="registerButton" type="submit" value="注册"/></td>
						</tr>
					</table>
				</form>	
			</div>
			<!-- 附言 -->
			<div id="CentreBox_three">
				<span th:style="'color:'+(${flag}?'red':'black')">
					<p th:text="${flag}?${registerResult}:'欢迎来到苏沐问的Minecraft服务器!'"></p>
				</span>
			</div>
		</div>
	</body>
</html>
